package main

import (
	"log"
	"{{.ModulePath}}/{{.PackageName}}"
)

func main() {
	game, err := {{.PackageName}}.Init({{.PackageName}}.GameConfig{})
	if err != nil {
		log.Fatal(err)
	}

	// TODO: register event listeners

	game.Run()
}
