package main

import (
	"fmt"
	"log"
	"{{.ModulePath}}/{{.PackageName}}"

	"{{.LibraryURL}}"
)

func main() {
	game, err := {{.PackageName}}.Init()
	if err != nil {
		log.Fatal(err)
	}
	fmt.Println("Game ID:", game.Id)

	game.OnCGError(func(origin {{.PackageName}}.Player, data cg.ErrorEventData) {
		fmt.Println("error:", data.Message)
	})

	// TODO: register event listeners

	game.Run()
}
